CONFIG_NAMESPACES=y
CONFIG_SYSVIPC=y
CONFIG_PID_NS=y
CONFIG_USER_NS=y
CONFIG_UTS_NS=y
CONFIG_NET_NS=y
CONFIG_IPC_NS=y
CONFIG_VT=y
CONFIG_NULL_TTY=y
CONFIG_DEVTMPFS=y
# apparmor
CONFIG_SECURITY_APPARMOR=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
# CONFIG_SECURITY_SELINUX_DEVELOP is not set
# bluebinder
CONFIG_BT_HCIVHCI=y
CONFIG_RFKILL=y
CONFIG_BT_RFCOMM=y
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_BNEP=y
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HIDP=y
# docker
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_CGROUP_HUGETLB=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_CGROUP_PIDS=y
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_HUGETLBFS=y
CONFIG_HUGETLB_PAGE=y
CONFIG_IP_VS=y
CONFIG_IP_VS_NFCT=y
CONFIG_IP_VS_PROTO_TCP=y
CONFIG_IP_VS_PROTO_UDP=y
CONFIG_IP_VS_RR=y
CONFIG_IP6_NF_NAT=y
CONFIG_IP6_NF_TARGET_MASQUERADE=y
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y
CONFIG_NETFILTER_XT_MATCH_IPVS=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_OVERLAY_FS_INDEX=y
CONFIG_OVERLAY_FS_METACOPY=
CONFIG_OVERLAY_FS_XINO_AUTO=y
CONFIG_POSIX_MQUEUE=y
# waydroid
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder,anbox-binder,anbox-hwbinder,anbox-vndbinder"
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
# misc
CONFIG_NET_CLS_CGROUP=y
CONFIG_FHANDLE=y
CONFIG_CGROUP_PERF=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_NETFILTER_XT_MATCH_NFACCT=y
CONFIG_BLK_DEV_NBD=y
CONFIG_MACVLAN=y
CONFIG_BTRFS_FS=y
CONFIG_FANOTIFY=y
CONFIG_AUTOFS4_FS=y
CONFIG_UNIX_DIAG=y
CONFIG_PACKET_DIAG=y
CONFIG_NETLINK_DIAG=y
# snap
CONFIG_CGROUP_DEVICE=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XZ=y
CONFIG_SQUASHFS_ZSTD=y
# winebox
CONFIG_BINFMT_MISC=y
# hideme
CONFIG_WIREGUARD=y
# SAR_RD
CONFIG_ANDROID_SAR_RAMDISK=y
CONFIG_ANDROID_BOOT_PARTITION="/dev/mmcblk0p38"
# Disable Huawei crap
# CONFIG_BOOTPARAM_HUNG_TASK_PANIC is not set
# CONFIG_DETECT_HUAWEI_HUNG_TASK is not set
# CONFIG_DETECT_HUNG_TASK is not set
# CONFIG_HUAWEI_BFM is not set
# CONFIG_HUAWEI_DIRECT_SWAPPINESS is not set
# CONFIG_HUAWEI_DSM is not set
# CONFIG_HUAWEI_DSM_AUDIO is not set
# CONFIG_HUAWEI_DYNAMIC_BRD is not set
# CONFIG_HUAWEI_EMMC_DSM is not set
# CONFIG_HUAWEI_F2FS_DSM is not set
# CONFIG_HUAWEI_FEATURE_PRINT_PID_NAME is not set
# CONFIG_HUAWEI_IO_TRACING is not set
# CONFIG_HUAWEI_KSTATE is not set
# CONFIG_HUAWEI_MEMINFO_DUMP is not set
# CONFIG_HUAWEI_PROC_CHECK_ROOT is not set
# CONFIG_HUAWEI_PROC_MEMORYINFO_FAST is not set
# CONFIG_HUAWEI_PROC_SMAPS_SIMPLE is not set
# CONFIG_HUAWEI_PROMM is not set
# CONFIG_HUAWEI_RWLOG is not set
# CONFIG_HUAWEI_SDCARD_DSM is not set
# CONFIG_HUAWEI_STORAGE_ROCHK is not set
# CONFIG_HUAWEI_STORAGE_ROFA is not set
# CONFIG_HUAWEI_STORAGE_ROFA_FOR_MTK is not set
# CONFIG_HUAWEI_STORAGE_ROW is not set
# CONFIG_HUAWEI_SWAP_ZDATA is not set
# CONFIG_HUAWEI_UNMOVABLE_ISOLATE is not set
# CONFIG_HUAWEI_UNMOVABLE_ISOLATE1_SIZE_MBYTES is not set
# CONFIG_HUAWEI_UNMOVABLE_ISOLATE2_SIZE_MBYTES is not set
# CONFIG_HUAWEI_WIFI is not set
# CONFIG_HW_BFMR_MTK is not set
# CONFIG_HW_BINDER_FG_REQ_FIRST is not set
# CONFIG_HW_BINDER_SCHED is not set
# CONFIG_HW_BOOSTER is not set
# CONFIG_HW_CGROUP_WORKINGSET is not set
# CONFIG_HW_CHR_TCP_SMALL_WIN_MONITOR is not set
# CONFIG_HW_CPULOAD_NOTI is not set
# CONFIG_HW_DPIMARK_MODULE is not set
# CONFIG_HW_FDLEAK is not set
# CONFIG_HW_GADGET is not set
# CONFIG_HUAWEI_USB is not set
# CONFIG_HW_IAWARE_THREAD_BOOST is not set
# CONFIG_HW_KERNEL_STP is not set
# CONFIG_HW_LOGGER is not set
# CONFIG_HW_NETQOS_SCHED is not set
# CONFIG_HW_NETWORK_AWARE is not set
# CONFIG_HW_PACKET_FILTER_BYPASS is not set
# CONFIG_HW_QOS_THREAD is not set
# CONFIG_HW_ROOT_SCAN is not set
# CONFIG_HW_SUPPORT_802_11V is not set
# CONFIG_HW_SYN_LINEAR_RETRY is not set
# CONFIG_HW_VIP_THREAD is not set
# CONFIG_HW_WIFIPRO is not set
# CONFIG_HW_WIFIPRO_PROC is not set
# CONFIG_HW_ZEROHUNG is not set
# CONFIG_HWLOG_KERNEL is not set
# CONFIG_USE_BOOTFAIL_RECOVERY_SOLUTION is not set
# CONFIG_TEELOG is not set
